html{
    background: linear-gradient(#00ff88, #09aad3);
    }

body {
    height: 3000px;
    } 

    .fa-solid fa-house {
      font-size: 30px;
      color: red;
      position: absolute;
      top: 50%;
    }


/* header animación de fondo y título */  
header {
  background-color: #1deb95;
  border-radius: 80px;
  animation: movimiento01 09s infinite;
  }    

  @keyframes movimiento01 {
    from {background-color: #c655d4;}
    to {background-color: rgb(243, 91, 218);}
      }
  
#cv{
  border: 3px solid rgb(0, 0, 0) ;
  border-radius: 80px;
  font-family: "Sofia", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-shadow: 3px 3px 3px #fff3f3;
  text-align: center;
}    


/* Botón de ir inicio de página */
.ir_arriba {
    position: fixed;
    right: 10px;
    bottom: 45px;
    color:whitesmoke;
    background-color: #111111;
    animation: movimiento02 03s infinite;
    border-radius: 5%
    }

@keyframes movimiento02 {
  from {background-color: #140102;}
  to {background-color: rgb(173, 3, 145);}
    }

.hidden {
    display: none;
    }


/* menu principal de la página*/    
ul.menu1 {
        list-style-type: none;
        margin: 10px;
        padding: calc(10%-10px);
        overflow: hidden;
        background-color: #860197;
      }
      
li.menu2 {
        float: left;
      }
      
li a.menu3 {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif, bold;
      }
      
      li a.menu3:hover {
        background-color: #111111;
      }

/*Foto de perfil de https://randomuser.me */ 

 #foto_perfil{
      display: block;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      width: 10%;
      border-radius: 50%;
      border:solid
    }  


/* Nombre de ficción de Ramdomuser.me */
#dan_ramirez{
        font-family: "Sofia", sans-serif;      
         text-align: center;
        font-size: 25px;
        border-width: 10px 10px;
        text-shadow: 2px 2px 2px #fff3f3;
        padding: 0px;
        margin: 10px; 
        text-decoration-line: underline;
           
    }
/* Presentación Primera parte "Acerca de mi" */    
#acerca_de_mi p {
        
        text-align: center;
        font-family:"Sofia", sans-serif;
        font-size: 25px;
        color:rgb(0, 0, 0);
        line-height: 1.6
        }

 /* Video de YOUTUBE */      
    
#videoyoutube iframe {
    margin: 0 auto;
    display: block;
    width: 500px;
    height: 300px;
    }    

/* tabulación de secciones principales */
#informacion_personal {
  padding-left:35%;
}
#experiencias {
  padding-left:35%;
}
#habilidades {
  padding-left:35%;  
}
#estudios {
  padding-left:35%;  
}
#encuestas {
  padding-left:35%;  
}
#sorteo {
  padding-left:35%;  
}

/* estilo general para varias secciones*/
h2.titulos_01 {
  color: rgb(86, 5, 179);
  text-decoration: underline solid rgb(86, 5, 179) 10%; 
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
}

.datos {
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  margin: 1px;
}
#contacto {
  padding-top: 20px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  margin: 1px;
}

.datos_2 {
font-family: 'Roboto', sans-serif;
color: rgb(86, 5, 179);;
}

.listas_01 {
   color:black;
   font-family: 'Roboto', sans-serif;
   text-transform: capitalize;
   }

.listas_03 {
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  text-decoration-line: underline;
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 10px;

}
.datos_3 {
  color:rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  margin: 0px;
  margin-bottom: 10px;
}

.datos_4 {
  color:rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.datos_5 {
  color:rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}

/* saludo final */
#gracias {
  color:black;
  font-family:"Sofia", sans-serif;
  text-align:center;
  font-size: xx-large;
  margin-top: 80px;
}

footer {
    background-color: #242727;
    color:white;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    bottom: 0;
    position: fixed;
    width: 100%
}

